.line-clamp {
  /* Required declarations: */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  /* Limit the text block to three lines */
  -webkit-line-clamp: 3;
}

.hover-card { 
  
 }

.hover-card:hover { 
  	box-shadow: 0 0 20px rgba(33,33,33,.2);
  	transform: scale(1.015);
 }

  
 .form-box{  
  max-width: 500px;  
  position: relative;  
  margin: 5% auto;  
  }


.detail-desc {
  float: right;
}
  .sliderr {
    margin: 0;
  }

body{
  margin:0;
}
